server {
  listen 80;
  server_name <%= fetch(:domain_name) %>;

  <% if fetch(:use_basic_auth, false) %>
  auth_basic "closed site";
  auth_basic_user_file /etc/nginx/<%= fetch(:application) %>.htpasswd;
  <% end %>

  access_log /var/log/nginx/<%= fetch(:application) %>/access.log ltsv;
  error_log /var/log/nginx/<%= fetch(:application) %>/error.log warn;

  location / {
    root <%= current_path %>;
    default_type text/html;

    if (-f $request_filename) {
      expires 1h;
      break;
    }

    # 一時期 .html 付きの URL を使っていたため
    if ($request_filename ~ ^.*\.html$) {
      rewrite ^(.*).html$ $1 permanent;
    }
  }

  location /favicon.ico { return 404; }
  location /apple-touch-icon.png { return 404; }
  location /apple-touch-icon-precomposed.png { return 404; }
}
