html {
  background: #f7f7f7;
  color: #333;
  font: 20px/1.8 Open Sans, Helvetica, Arial, sans-serif;
}

body {
  max-width: 720px;
  padding: 20px 40px;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

a {
  color: #069;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1,
h2 {
  line-height: 1.2;
}

.fa.fa-link {
  display: none;
  position: absolute;
  top: 50%;
  left: -28px;
  margin-top: -18px;
  padding: 10px 5px 10px 10px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}

h1 .fa.fa-link:hover,
h2 .fa.fa-link:hover,
h3 .fa.fa-link:hover,
h4 .fa.fa-link:hover,
h5 .fa.fa-link:hover,
h6 .fa.fa-link:hover {
  color: #337ab7;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

code, pre {
  font-family: Consolas, "Courier New", monospace;
}
code {
  color: #272822;
  background-color: #ddd;
  padding: 0.2em;
}
pre {
  padding: 0.5em;
  color: #ddd;
  background: #272822;
}
pre code {
  color: #ddd;
  background: #272822;
}

img{
  max-width: 720px;
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: 3px solid #999;
}

footer {
  padding: 1em 0 0;
  margin: 1em 0 0;
  border-top: 2px solid #eee;
}
footer h2 {
  margin 0 0 1em;
}
.author_wrap {
  display: table;
  border-spacing: 5px 0;
}
.author_image,
.author_links,
.author_name {
  display: table-cell;
  vertical-align: middle;
}
.author_image img {
  vertical-align: middle;
}
.author_link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-table;
  text-align: center;
}
.author_link_twitter {
  background: #1cadeb;
}
.author_link_facebook {
  background: #3f5aa2;
}
.author_link_github {
  background: #333;
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
  min-width: 60%;
}
th, td {
  padding: 10px;
  border: 1px solid #ccc;
}
th {
  background-color: #ddd;
  font-weight: bold;
}
