#toc {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  width: 250px;
  font-size: 10px;
  background-color: #ccc;
}

#toc ul {
  padding-left: 1em;
}
#toc ul:first-child {
  padding-left: 2em;
}

#toc_accordion:checked + label + .accordion-panel {
  height: 1em;
  overflow: hidden;
}
