footer
  h2 書いた人
  .author_wrap
    .author_image
      img[src="//www.gravatar.com/avatar/f79eeaf69c0ec75a91525a823805c04b.png?s=30&d=identicon&r=PG"]
    .author_name
      p onk
    .author_links
      a.author_link.author_link_twitter[target="_blank" href="https://twitter.com/onk"]
        i.fa.fa-twitter-square.fa-fw
      a.author_link.author_link_facebook[target="_blank" href="https://www.facebook.com/takafumi.onaka"]
        i.fa.fa-facebook-square.fa-fw
      a.author_link.author_link_github[target="_blank" href="https://github.com/onk"]
        i.fa.fa-github-square.fa-fw
