---
pageable: true
per_page: 30
---
- if paginate && num_pages > 1
  p
    | Page 
    = page_number
    |  of 
    = num_pages
  - if prev_page
    p
      = link_to 'Previous page', prev_page
- page_articles.each_with_index do |article, i|
  h2
    span
      small = article.date.strftime('%Y-%m-%d')
    = link_to article.title, article
  /= article.body
- if paginate
  - if next_page
    p
      = link_to 'Next page', next_page
