doctype html
html
  head
    ruby:
      title = "onk.ninja"
      if current_article
        title = current_article.title  + " - " + title
      end
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"]

    / ogp
    meta[property="og:title" content="#{title}"]
    meta[property="og:type"  content="article"]
    - if current_article
      meta[property="og:url"   content="#{config.url_root}#{current_article.url}"]
      ruby:
        if current_article.data["ogp"] && current_article.data["ogp"]["og"]["image"]
          if current_article.data["ogp"]["og"]["image"].is_a?(Hash)
            ogp_og_image = "#{config.url_root}#{current_article.data["ogp"]["og"]["image"][""]}"
            ogp_og_image_type = current_article.data["ogp"]["og"]["image"]["type"] || "image/png"
          else
            ogp_og_image = "#{config.url_root}#{current_article.data["ogp"]["og"]["image"]}"
            ogp_og_image_type = "image/png"
          end
        else
          ogp_og_image = "#{config.url_root}#{data.ogp["og"]["image"][""]}"
          ogp_og_image_type = data.ogp["og"]["image"]["type"]
        end
      meta[property="og:image" content="#{ogp_og_image}"]
      meta[property="og:image:type" content="#{ogp_og_image_type}"]
    - else
      meta[property="og:url"   content="#{config.url_root}/"]
      meta[property="og:image" content="#{config.url_root}#{data.ogp["og"]["image"][""]}"]
      meta[property="og:image:type" content="#{data.ogp["og"]["image"]["type"]}"]

    title = title
    link[href="/stylesheets/normalize.css" media="all" rel="stylesheet"]
    link[href="/stylesheets/highlight/monokai.css" media="all" rel="stylesheet"]
    link[href="/stylesheets/main.css" media="all" rel="stylesheet"]
    link[href="/stylesheets/toc.css" media="all" rel="stylesheet"]
    / = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    - unless current_article.nil?
      link[rel="canonical" href="#{config.url_root}#{current_article.url}"]
    link[rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"]
    link[rel="author" href="http://www.hatena.ne.jp/onk/"]

  body
    #main[role="main"]
      = yield
    - if current_article
      #toc
        input[type="checkbox" id="toc_accordion"]
        label[for="toc_accordion"] 目次
        .accordion-panel
          = render_toc(current_article)

    / aside
    /   h2
    /     | Recent Articles
    /   ol
    /     - blog.articles[0...10].each do |article|
    /       li
    /         = link_to article.title, article
    /         span
    /           = article.date.strftime('%b %e')

    /   h2
    /     | Tags
    /   ol
    /     - blog.tags.each do |tag, articles|
    /       li
    /         = link_to "#{tag} (#{articles.size})", tag_path(tag)

    /   h2
    /     | By Year
    /   ol
    /     - blog.articles.group_by{|a| a.date.year }.each do |year, articles|
    /       li
    /         = link_to "#{year} (#{articles.size})", blog_year_path(year)

    = partial "profile"

    script[src="/javascripts/highlight.pack.js"]
    script
      | addEventListener("load", function() {
      |   for (var elem of document.getElementsByTagName('code')) {
      |     if (elem.dataset.metadata) {
      |       elem.classList.add("lang-" + elem.dataset.metadata);
      |     }
      |   }
      |   hljs.initHighlighting();
      | });
